// ...................FOOTER...................

@include breakpoint(mob) {
	.footer {
		> .container {
			flex-direction: column-reverse;
		}
	}

	.footer__items {
		display: flex;
		flex-direction: column;
	}
	.footer__categories {
		width: 100%;
	}
	.footer__subscripton {
		width: 70%;
	}
}
