//  TABLET
// .....................HEADER...............
// ....................CONTACTS..............

@include breakpoint(tab) {
	.contacts__item:first-child {
		flex-direction: column;
		align-items: start;
		gap: 5px;
	}
}
// .....................NAV..................
@include breakpoint(tab) {
	.nav {
		justify-content: space-between;
		position: relative;
	}
	.nav__logo {
		z-index: 1;
	}
	.nav__items {
		position: absolute;
		left: -15px;
		top: 100%;
		transition: opacity $time $time-distribution,
			transform $time $time-distribution, visibility $time $time-distribution;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		width: 100vw;
		background-color: $almost-black;

		display: flex;
		justify-content: center;

		&.toggle-menu {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
		}
	}
	.nav__link {
		padding: 15px;
	}
	.nav__btn {
		display: block;
		background-color: transparent;
		border: none;
		outline: none;
		order: 2;
		z-index: 1;
		width: 44px;
		height: 44px;
		position: relative;

		& > svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill: $white;
			transition: opacity $time $time-distribution;
		}

		& > svg:last-child {
			width: 50%;
			height: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.burger {
			opacity: 0;
		}
		.cross {
			width: 50%;
			height: 50%;
			opacity: 0;
		}
	}
	.nav__box {
		z-index: 1;
		order: 3;
	}
}
